.card-white {
  background-color: rgba(255, 255, 255, 0.7654);
  padding: 50px 15px 60px 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  border-radius: 15px;
  margin: 5px 150px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
